body {
    background: white;
    color: black;
    font-family: 'Raleway';
  }
.circle{
    border-radius: 50%;
    background: lightgrey;
}
.guy{
    display: block;
    height: 50%;
    position: 50px 50px;
}
.guy__circle{
    width: 100px;
    height: 100px;
    margin-left: 70%;
    display: flex;
    justify-content: center;
    position: relative;
}
@media (max-width: 540px){
    .guy__circle{
        width: 0%;
        height: 0%;
    }
    .guy{
        width: 0%;
        height: 0%;
    }
}
.topnavigation__container{
    text-align: center;
    text-decoration: none;
    overflow: hidden;
}
.topnavigation__item {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-style: normal;
}
.developer__text{
    display: block;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}
.developer__square {
    float:left;
}
@media (max-width: 740px){
    .developer__square{
        display: flex;
        margin-bottom: 200px;
    }
}
.title{
    text-align: center;
}
.title__message-circle{
    width: 50px;
    height: 50px;
    margin-left: 200px;
}
.title__message-ico{
    width: 50%;
    height: 50%;
    margin-top: 25%;
}
@media (max-width: 540px){
    .title__message-circle{
        width: 0%;
        height: 0%;
    }
}
.title__container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:center;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.title__container a{
    padding: 10px 10px;
    margin: 10px;
 }
.title__contact-button{
    text-align: center;
    border-radius: 5px;
    border: 1px solid #000000;
    display: inline-block;
    text-decoration: none;
}
.title__contact-button-telegram {
    color: white;
    background-color: black;
}
.title__contact-button-video{
    color: black;
    background: white;
}
.title__lightning-circle{
    width: 70px;
    height: 70px;
    margin-left: 80%;
}
.title__lightning-ico{
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 50%;
}
@media (max-width: 540px){
    .title__lightning-circle{
        width: 0%;
        height: 0%;
    }
}

.gg-play-button {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
}
.gg-play-button::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: 0;
        height: 10px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 6px solid;
}
.job__navigation {
    text-align: center;
    overflow: hidden;
}
.job__navigation a {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 5px 10px;
    background-color: #f2f2f2;
    display: inline-block;
    border-radius: 50px;
    border: 1px solid #000000;
}
.job__navigation a.active{
    background-color: black;
    color: #f2f2f2;
}
.job__navigation :hover{
    background-color: grey;
}
.examples{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    
}
.examples a{
    border-radius: 20px;
}
.examples a img{
    width: 90%;
    height: 90%;
    display: block;
    border-radius: 20px;
    border: #000000;
    box-shadow: 0 0 5px;
}

.about__block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
.about__block-photo{
    width: 500px;
    border: 1px solid black;
    border-radius: 20px;
}

.about__block-text{
    padding: 10px;
}
.about__block about__block-image img{
    width: 300px;
    border-radius: 10px;
    vertical-align: top;
}
.about__block about__block-text{
    float: left;
    vertical-align: top;
    text-align: center;
}
@media (max-width: 1200px){
    .about__block-photo{
        width: 40%;
    }
}
@media (max-width: 540px){
    .about__block{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about__block-photo{
        width: 50%;
    }
    .about__block-text{
        font-size: 10pt;
    }
}
.services{
    background: black;
    color: white;
}
.offers{
    color: black;
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}
.offer__item{
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 300px;
    padding: 20px;
}
@media (max-width: 1200px){
    .offers{
        color: black;
        margin: 0 auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .offer__item{
        background-color: #f2f2f2;
        border-radius: 10px;
        width: 70%;
        padding: 50px;
        margin-top: 40px;
    }
}
@media (max-width: 540px){
    .offers{
        color: black;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
    }
    .offer__item{
        background-color: #f2f2f2;
        border-radius: 10px;
        font-size: 10pt;
        width: 80%;
        margin-top: 10px;
    }
}
.offer__item-title{
    display: block;
    text-align: center;
}
.offer__item-text{
    display: block;
    text-align:justify;
    padding-bottom: 20px;
}
.offer__item-cost{
    position: relative;
    bottom: 0px;
}
/* Style The Dropdown Button */
.dropbtn {
    padding: 16px;
    font-size: 16px;
    cursor: pointer;

    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: 1px solid black;
    border-radius: 5px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #ccc;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #000000;
  }

  /* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.button {
    text-align: center;
    text-decoration: none;

    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}
.counter{
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
}
.counter__form-base{
    width: 400px;
    display: block;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
    border: #000000;
    box-shadow: 0 0 5px;
    padding: 20px;
    margin-bottom: 10px;
}
.counter__button{
}

.counter__job_choose{
    display: flex;
    margin-bottom: 10px;
    
}
.counter__job_choose_dropdown{
    display: block;
    width: 350px;
    margin: 0 auto;
}
.counter__job_choose_dropbtn{
    width: 350px;
}
.counter__job_choose_dropdown-content{
    width: 350px;
}

.counter__size_choose{
    display: inline;
}
.counter__size_choose_dropdown{
    display: block;
    width: 350px;
    margin: 0 auto;
}
.counter__size_choose_dropbtn{
    width: 350px;
}
.counter__size_choose_dropdown-content{
    width: 350px;
}
.counter__button{
    display: block;
    width: 150px;
    margin: 0 auto;
    padding: 15px 32px;
}
.counter__popup{
    display: block;
    width: 400px;
    padding: 20px;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
    border: #000000;
    box-shadow: 0 0 5px;
    margin-bottom: 10px;
}
.counter__popup-cost{
    font-style: italic;
}
.counter__popup-deadlines{
    font-style: italic;
}
.counter__popup-button{
    display: block;
    background-color: black;
    margin: 0 auto;
    color: white;
    padding: 15px 32px;
}
@media (max-width: 1200px){
    .counter__form-base{
        width: 250px;
        display: block;
        margin: 0 auto;
        background-color: white;
        border-radius: 20px;
        border: #000000;
        box-shadow: 0 0 5px;
        padding: 20px;
        font-size: 10pt;
        margin-bottom: 10px;
    }
    .counter__button{
    }
    
    .counter__job_choose{
        display: flex;
    }
    .counter__job_choose_dropdown{
        display: block;
        width: 200px;
        margin: 0 auto;
    }
    .counter__job_choose_dropbtn{
        width: 200px;
    }
    .counter__job_choose_dropdown-content{
        width: 200px;
    }
    
    .counter__size_choose{
        display: inline;
    }
    .counter__size_choose_dropdown{
        display: block;
        width: 200px;
        margin: 0 auto;
    }
    .counter__size_choose_dropbtn{
        width: 200px;
    }
    .counter__size_choose_dropdown-content{
        width: 200px;
    }
    .counter__button{
        display: block;
        width: 100px;
        margin: 0 auto;
    }
    .counter__popup{
        display: block;
        width: 250px;
        padding: 20px;
        margin: 0 auto;
        background-color: white;
        border-radius: 20px;
        border: #000000;
        box-shadow: 0 0 5px;
        margin-bottom: 10px;
    }
    .counter__popup-cost{
        font-style: italic;
    }
    .counter__popup-deadlines{
        font-style: italic;
    }
    .counter__popup-button{
        display: block;
        width: 150px;
        background-color: black;
        margin: 0 auto;
        color: white;
        padding: 15px 32px;
    }
}
@media (max-width: 540px){
    .counter__form-base{
        width: 90%;
        display: block;
        margin: 0 auto;
        background-color: white;
        border-radius: 20px;
        border: #000000;
        box-shadow: 0 0 5px;
        padding: 20px;
        margin-bottom: 10px;
    }
    .counter__button{
    }
    
    .counter__job_choose{
        display: flex;
    }
    .counter__job_choose_dropdown{
        margin: 0 auto;
        width: 90%;
        font-size: 10pt;
    }
    .counter__job_choose_dropbtn{
        display: block;
        width: 90%;
        margin: 0 auto;
        font-size: 10pt;
    }
    .counter__job_choose_dropdown-content{
        display: block;
        margin: 0 auto;
        font-size: 10pt;
    }
    
    .counter__size_choose{
        display: inline;
        font-size: 10pt;
    }
    .counter__size_choose_dropdown{
        display: block;
        width: 90%;
        margin: 0 auto;
        font-size: 10pt;
    }
    .counter__size_choose_dropbtn{
        display: block;
        width: 90%;
        margin: 0 auto;
        font-size: 10pt;
    }
    .counter__size_choose_dropdown-content{
        display: block;
        margin: 0 auto;
        font-size: 10pt;
    }
    .counter__button{
        margin: 0 auto;
        font-size: 10pt;
        padding: 5px 5px;
    }

    .counter__popup{
        width: 90%;
        display: block;
        margin: 0 auto;
        background-color: white;
        border-radius: 20px;
        border: #000000;
        box-shadow: 0 0 5px;
        font-size: 10pt;
        margin-bottom: 10px;
    }
    .counter__popup-cost{
        font-style: italic;
        font-size: 10pt;
    }
    .counter__popup-deadlines{
        font-style: italic;    
        font-size: 10pt;
    }
    .counter__popup-button{
        background-color: rgb(0, 0, 0);
        margin: 0 auto;
        color: white;
        font-size: 10pt;
        padding: 5px 5px;
    }
}
.faq{
    background: black;
    color: white;
}
.square{
    min-width: 140px;
    min-height: 20px;
    border-radius: 5px;
    border: 1px solid #000000;
}
.faq__item{
    width: 1000px;
    background-color: white;
    color: black;
    margin: 0 auto;
    display: block;
}
@media (max-width: 1200px){
    .faq__item{
        width: 520px;
    }
}
@media (max-width: 540px){
    .faq__item{
        width: 90%;
    }
}
summary::-webkit-details-marker{display:none;}
summary:after { 
    margin-right: 10px;
    float: right;
    content: "+";
    display: inline-block;
}
.request{
    background: white;
    color: black;
}
input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #000000;
}
.request__square{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #000000;
}
.request__field{
    display: flex;
    width: 90%;
    padding: 10px 10px;
}
.request__button{
    display: block;
    background-color: black;
    color: white;
    padding: 10px 10px;
    width: 90%;
    margin-bottom: 10px;
}
.request__textarea{
    width: 90%;
    padding: 10px 10px;
}
@media (max-width: 540px){
    .request__square{
        width: 90%;
    } 
    .request__button{
        padding: 5px 5px;
    }
}